p {
    font-size: 1.5em;
}

main {
    height: 600px;
    width: 100%;
    background-color: red;
}

body {
    font-size: 20px;
}

.text-container div {
    font-size: 1.5em;
}

.text-container {
    font-size: 1.5em;
}